<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>allkustom</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="sidePanel">
      <div class="sideTop">
        <div class="logo">
          <a href="/">
            <img src="/0 assets/basic/allkustom shape logo.png" alt="" />
            <div class="logoDetails">allkustom</div>
          </a>
        </div>
        <div class="navBox">
          <a href="#"
            ><img src="/0 assets/basic/Leather Crafting_icon.png" alt="" />
            <div class="navDetails">Projects</div>
          </a>
          <a href="#"
            ><img src="/0 assets/basic/Arduino_icon.png" alt="" />
            <div class="navDetails">BIO</div>
          </a>
          <a href="#"
            ><img src="/0 assets/basic/3D Printing_icon.png" alt="" />
            <div class="navDetails">CONTACT</div>
          </a>
        </div>
      </div>
      <div class="sideBot">
        <div class="paginationBox">
          <a class="bottom" href="#"
            ><img src="/0 assets/basic/Leather Crafting_icon.png" alt=""
          /></a>
          <a class="bottom" href="#"
            ><img src="/0 assets/basic/insta logo.png" alt=""
          /></a>
          <a class="bottom" href="#"
            ><img src="/0 assets/basic/Leather Crafting_icon.png" alt=""
          /></a>
        </div>
      </div>
    </div>


        <div class="contentWrapper">{{ content }}</div>



    <!-- <div class="sideNav">
      <ul>
        <li><a href="/#recipeCont">Recipes</a></li>
        <li><a href="/">Recommends</a></li>
 <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div> -->

    <!-- <header>
      <div class="homeTitle">
        <div class="headerTitle">
          <a href="/">Doggies' Bowl</a>
        </div>
      </div>
    </header> -->

  </body>
  <script src="/script.js"></script>
</html>
