---
layout: base.html
---

<div class="previewBox">
  <div class="previewThumbnail">
    {% if video %}
    <iframe
      src="{{ video }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
    {% else %}
    <img src="{{ photo }}" alt="{{ title}}" />
    {% endif %}
  </div>
  <div class="previewInfo">
    <div class="previewTitle">BMD</div>
    <div class="previewDetailBox">
      <div class="previewDetails">
        <h3>Medium / Tech</h3>
        {% if mediumTech %}
        <p>{{ mediumTech | join: " / " }}</p>
        {% endif %}
      </div>
      <div class="previewDetails">
        <h3>Project Date</h3>
        {% if projectDate %}
        <p>{{ projectDate | join: " - " }}</p>
        {% endif %}
      </div>
      <div class="previewDetails">
        <h3>Size</h3>
        {% if size %}
        <p>{{ size | join: " / " }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>
<div class="mainBox">
  <div class="descriptionBox">
    <h1>Project Description</h1>
    {{page.excerpt | md }}
  </div>

  <div class="mainContent">{{content | stripExcerpt: page.excerpt}}</div>
</div>
